body {

margin:0;
font-family:Arial;
background:#0b0b15;
color:white;

}


header {

padding:20px;
text-align:center;
background:#111;

}


nav a {

margin:15px;
color:white;
text-decoration:none;
font-weight:bold;

}


.hero {

height:400px;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

}


button {

padding:12px 25px;
font-size:16px;
border:none;
background:#ff0055;
color:white;
border-radius:6px;
cursor:pointer;

}


.timeline {

display:flex;
justify-content:center;
gap:40px;
margin-top:30px;

}


.event {

background:#1a1a2e;
padding:20px;
border-radius:10px;

}


.speaker-grid {

display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:30px;
padding:40px;

}


.speaker-card {

background:#1a1a2e;
padding:20px;
border-radius:10px;
text-align:center;
transition:0.3s;

}


.speaker-card:hover {

transform:translateY(-8px);

}


.speaker-card img {

width:100%;
border-radius:50%;

}


.schedule {

display:grid;
gap:20px;
padding:40px;

}


.session {

background:#1a1a2e;
padding:20px;
border-radius:10px;

}


footer {

text-align:center;
padding:20px;
background:#111;

}
